:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}

body {
    text-align: center;
    padding-top: 10px;
    font-family: 'Oswald', 'sans-serif';
    letter-spacing: 1px;
}

.controls {
    padding-bottom: 20px;
}